body, div, td, hr, li, input, select {
	font-family: 'Courier New', 'Courier';
	font-size: 12px;
	line-height: 1.2em;
}
#wrap{
	overflow:hidden;
	height:98%;
	width:98%;
	margin:auto;
	
}
#viewer{
	width:80%;
	margin-left:2%;
	height:100%;
	float:right;
}
#messages{
	height:50%;
	overflow:scroll;
}
#post{
	background-color:#eeeeee;
	height:50%;
	overflow:scroll;
}
.quote{
	color:#0A8A12;
	font-style:italic;
}

#login{
	width:300px;
	margin:auto;
}
#login_form{
	Font-family:inherit;
	
}
input{
	width:280px;
	height:50px;
	border-style:none;
}

#groups{
	width:18%;
	height:100%;
	overflow:scroll;
	float:left;
	display:inline;
	background-color:#eeeeee;
}

